* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}

a {
    color: #666666;
    text-decoration: none;
}

body {
    background: #F4F4F4 !important;
}

.my_hr{
    border-bottom: 3px solid #E14961 !important;
}

.top_pad{
    padding-top: 125px;
}

.fix {
    position: fixed;
    z-index: 1000;
    width: 100%;
    position: fixed;
    color: #fff;
}

.main_show {
    background: #FFFFFF;
    width: 60% !important;
    height: 90%;
    margin: 0px auto;
    *zoom: 1;
    color: #666666;
    text-decoration: none;
    font: 12px tahoma, Arial, Verdana, sans-serif;
    z-index: 1000000;
}

.adad_area {
    position: fixed;
    top: 25%;
    z-index: -1;
    left: 1%;
}

.adad_area img {
    width: 18%;
}

.footer {
    background: #FFFFFF !important;
}

.easy_nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 35%;
    right: 16%;
    color: #666;
    background: white;
}

.easy_nav div {
    padding: 8px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    border-bottom: 1px solid #F4F4F4;
}

.easy_nav div a {
    color: #D03A2B;
    cursor: pointer;
    text-decoration: none;
}

.header {
    background: white;
    border-bottom: 2px solid #F4F4F4;
}

.my_footer {
    background: white;
    border-bottom: 2px solid #F4F4F4;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_center{
    align-items: center;
}

body.pon {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/*回到顶部*/
#rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}

#rocket-to-top .level-2 {
    background: url("/static/img/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1;
}

#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}

#rocket-to-top {
    background: url("/static/img/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 250px;
    margin: -125px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 80%;
    width: 149px;
    z-index: 11;
}