@charset "utf-8";


div.index .slider {
    height: 290px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

div.index .slider img {
    width: 710px;
    height: 290px;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.index .newArticle {
    width: 228px;
    height: 172px;
    margin-bottom: 10px;
    overflow: hidden;
    border: solid 1px #e4e4e4;
}

div.index .newArticle .tab {
    width: 300px;
    height: 30px;
    background-color: #f1f1f1;
}

div.index .newArticle .tab li {
    width: 76px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    overflow: hidden;
    border-right: solid 1px #e4e4e4;
}

div.index .newArticle .tab li.current {
    background-color: #ffffff;
}

div.index .newArticle .tabContent {
    padding: 6px;
}

div.index .newArticle .tabContent li {
    line-height: 26px;
}

div.index .hotBrand {
    padding: 0px 10px 10px 10px;
    background-color: #f1f1f1;
}

div.index .hotBrand .title {
    height: 30px;
    line-height: 30px;
    color: #cacaca;
    font-weight: bold;
    font-family: "Microsoft YaHei";
}

div.index .hotBrand .title strong {
    margin-right: 10px;
    color: #d31c31;
    font-size: 14px;
    font-weight: bold;
}

div.index .hotBrand .title a {
    float: right;
    color: #999999;
    font-weight: normal;
}

div.index .hotBrand li {
    white-space: nowrap;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    _position: relative;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
}

div.index .hotBrand li a {
    width: 97px;
    height: 50px;
    display: block;
    overflow: hidden;
    background: url(../images/index.gif) 0px 0px repeat-x;
}

div.index .hotBrand li a:hover {
    height: 49px;
    border-bottom: 1px solid #656565;
}

div.index .hotBrand li img {
    width: 97px;
    height: 50px;
}

div.index .hotProductCategory {
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}

div.index .hotProductCategory .title {
    height: 30px;
    line-height: 30px;
    color: #cacaca;
    font-weight: bold;
    font-family: "Microsoft YaHei";
}

div.index .hotProductCategory .title strong {
    margin-right: 10px;
    color: #d31c31;
    font-size: 14px;
    font-weight: bold;
}

div.index .hotProductCategory .title a {
    float: right;
    color: #999999;
    font-weight: normal;
}

div.index .hotProductCategory .content {
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
}

div.index .hotProductCategory table {
    width: 100%;
}

div.index .hotProductCategory tr {
    border-bottom: 1px solid #f1f1f1;
}

div.index .hotProductCategory tr.last {
    border-bottom: none;
}

div.index .hotProductCategory th {
    width: 90px;
    height: 60px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    border: 3px solid #ffffff;
    background-color: #f8f8f8;
}

div.index .hotProductCategory tr:hover th {
    background-color: #e4e4e4;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    div.index .hotProductCategory th {
        height: 60px;
    }
}

div.index .hotProductCategory td a {
    line-height: 30px;
    padding: 0px 10px;
    color: #666666;
    white-space: nowrap;
}

div.index .promotionProduct {
    width: 228px;
    margin-bottom: 10px;
    overflow: hidden;
    border-left: solid 1px #e4e4e4;
    border-right: solid 1px #e4e4e4;
    border-bottom: solid 1px #e4e4e4;
}

div.index .promotionProduct .tab {
    width: 300px;
    height: 31px;
}

div.index .promotionProduct .tab li {
    width: 114px;
    height: 31px;
    line-height: 31px;
    float: left;
    text-align: center;
    overflow: hidden;
    border-right: solid 1px #e4e4e4;
    background: url(../images/index.gif) 0px -90px repeat-x;
}

div.index .promotionProduct .tab li.current {
    height: 29px;
    line-height: 29px;
    border-top: solid 2px #ff830f;
    background-color: #ffffff;
    background-image: none;
}

div.index .promotionProduct .tabContent {
    padding: 6px;
}

div.index .promotionProduct .tabContent li {
    height: 94px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}

div.index .promotionProduct .tabContent li.last {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

div.index .promotionProduct .tabContent .info {
    line-height: 26px;
    color: #a5a5a5;
}

div.index .promotionProduct .tabContent em {
    color: #404040;
    font-weight: bold;
    font-style: normal;
}

div.index .promotionProduct .tabContent del {
    color: #a5a5a5;
    font-weight: normal;
    font-style: normal;
    text-decoration: line-through;
}

div.index .promotionProduct .tabContent strong {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
}

div.index .promotionProduct .tabContent span {
    display: block;
    clear: both;
}

div.index .promotionProduct .tabContent div img {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    padding: 2px;
    margin: 4px 4px 0px 0px;
    border: 1px solid #e4e4e4;
}

div.index .promotionProduct .tabContent div div {
    width: 156px;
    line-height: 20px;
    float: left;
    overflow: hidden;
}

div.index .newReview {
    margin-bottom: 10px;
    overflow: hidden;
    border: solid 1px #e4e4e4;
}

div.index .newReview .title {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    color: #d31c31;
    font-size: 14px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    background-color: #f1f1f1;
}

div.index .newReview ul {
    line-height: 28px;
    padding: 2px 6px;
}

div.index .middleAd {
    margin-bottom: 10px;
}

div.index .hotProduct {
    margin-bottom: 10px;
}

div.index .hotProduct .title {
    width: 260px;
    height: 40px;
    float: left;
    margin-bottom: 10px;
    /* background: url(../images/index.gif) 0px -150px no-repeat; */
    background-color: #825996;
}

div.index .hotProduct .title strong {
    line-height: 38px;
    display: block;
    float: left;
    padding-left: 10px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}

div.index .hotProduct .title a {
    width: 40px;
    height: 40px;
    display: block;
    float: right;
}

div.index .hotProduct .tab {
    width: 683px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    /* background: url(../images/index.gif) 0px -210px repeat-x; */
    background-color: #825996;
}

div.index .hotProduct .tab li {
    width: 120px;
    height: 35px;
    line-height: 35px;
    float: left;
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;


}

div.index .hotProduct .tab li.current {
    font-weight: bold;
    background-color: #825996;
}

div.index .hotProduct .hotProductAd {
    width: 260px;
    height: 343px;
    float: left;
}

div.index .hotProduct .tabContent {
    width: 950px;
    float: left;
    padding-left: 5px;
    _padding-left: 2px;
}

div.index .hotProduct .tabContent li {
    float: left;
    margin-right: -1px;
    margin-bottom: 10px;
    _position: relative;
    margin-left: 14px
}

div.index .hotProduct .tabContent li:hover {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

div.index .hotProduct .tabContent img {
    width: 170px;
    height: 170px;
    display: block;
}

div.index .newProduct {
    margin-bottom: 10px;
}

div.index .newProduct .title {
    width: 260px;
    height: 40px;
    float: left;
    margin-bottom: 10px;
    background-color: #AB7156;

}

div.index .newProduct .title strong {
    line-height: 38px;
    display: block;
    float: left;
    padding-left: 10px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}

div.index .newProduct .title a {
    width: 40px;
    height: 40px;
    display: block;
    float: right;
}

div.index .newProduct .tab {
    width: 690px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #AB7156;
}

div.index .newProduct .tab li {
    width: 120px;
    height: 36px;
    line-height: 36px;
    float: left;
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;

}

div.index .newProduct .tab li.current {
    font-weight: bold;
    background-color: #AB7156;
}

div.index .newProduct .newProductAd {
    width: 260px;
    height: 343px;
    float: left;
}

div.index .newProduct .tabContent {
    width: 950px;
    float: left;
    padding-left: 5px;
    _padding-left: 2px;
}

div.index .newProduct .tabContent li {
    float: left;
    margin-right: -1px;
    margin-bottom: 10px;
    _position: relative;
    margin-left: 14px;
}

div.index .newProduct .tabContent li:hover {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

div.index .newProduct .tabContent img {
    width: 170px;
    height: 170px;
    display: block;
}

div.index .friendLink {
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #c5c5c5;
}

div.index .friendLink dt {
    float: left;
    padding: 0px 30px;
    background-color: #6e6e6e;
    height: 30px;
    line-height: 30px;
}

div.index .friendLink dd {
    height: 30px;
    line-height: 30px;
    float: left;
}

div.index .friendLink a {
    margin: 0px 10px;
    color: #ffffff;
}

div.index .friendLink .more {
    float: right;
    background-color: #6e6e6e;
}

.lunbo .item a img {
    width: 946px;
    height: 300px;
}

.my_do {
    width: 103%;
}


.my_nav_tab {
    width: 100%;

}

.my_nav_tab li {
    width: 50%;
}

.inner_head img {
    width: 100%;
    height: 360px;
}

.inner_head .small_title {
    position: absolute;
    top: 2%;
    color: white;
    left: 10%;
    font-weight: bold;
    font-size: 20px;
}

.inner_body {
    width: 50%;
    width: 100%;
    margin: 20px 5px;
}

.inner_body .input-group {
    margin: 20px 0px;
}


a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.tab .nav-tabs {
    border: none;
    border-bottom: 2px solid #40b056;
    margin: 0;
}

.tab .nav-tabs li a {
    padding: 10px 20px;
    margin: 0 10px -1px 0;
    font-size: 20px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    /*border: 2px solid #e6e5e1;*/
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    background: #fff;
    color: #40b056;
    border: 2px solid #40b056;
    border-bottom-color: transparent;
}

.tab .nav-tabs li a:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before {
    transform: scaleX(1);
}

.tab .tab-content {
    padding: 10px;
    font-size: 17px;
    color: #6f6f6f;
    line-height: 30px;
    letter-spacing: 1px;
    position: relative;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs {
        border: none;
    }

    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .tab .nav-tabs li a {
        margin: 0;
        border-bottom: 2px solid transparent;
    }

    .tab .nav-tabs li a:before {
        content: "";
        width: 100%;
        height: 2px;
        background: #079fc9;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}


/*回到顶部*/
#rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}

#rocket-to-top .level-2 {
    background: url("/static/img/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1;
}

#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}

#rocket-to-top {
    background: url("/static/img/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 250px;
    margin: -125px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 80%;
    width: 149px;
    z-index: 11;
}

.panel {
    margin-bottom: 0px;
}

@media (min-width: 600px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 14px;
    }
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

i.material-icons {
    vertical-align: sub;
    font-size: 110%;
}

.container {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

ul.product_msg li {
    margin: -5px 2px;
}

ul.product_msg li:last-child {
    color: red;
}

ul.product_msg1 li {
    margin: -5px 2px;
}

ul.product_msg1 li:last-child {
    color: red;
}

.buy:hover {
    background: red;
    font-weight: bolder;
}

.modal .mt_content {
    width: 700px;
    opacity: 0.9;
    padding: 15px;
}

.modal .mt_img {
    width: 700px;
    padding: 25px;
}

.modal .ad_djs {
    float: right;
    font-family: Consolas;
}

.modal .ad_tj {
    float: left;
    font-size: 18px;
    font-weight: bolder;
}

.closeMt:hover {
    color: firebrick;
}

.menu_cate {
    margin-left: 20px;
    display: inline-block;
}

.load-container {
    padding: 20px 0;
    text-align: center;
}

.load-container p {
    display: inline-block;
    position: relative;
    top: -30px;
    padding-left: 15px;
    font-size: 14px;
    color: #0fa4f6;
}

.load-container {
    display: none;
}

.load-container .loader {
    display: inline-block;
    font-size: 30px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.8em auto;
    position: relative;
    -webkit-animation: load 1.7s infinite ease;
    animation: load 2s infinite ease;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #d4eaf4, -0.11em -0.83em 0 -0.42em #d4eaf4, -0.11em -0.83em 0 -0.44em #d4eaf4, -0.11em -0.83em 0 -0.46em #d4eaf4, -0.11em -0.83em 0 -0.477em #d4eaf4;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #a4dbf4, -0.11em -0.83em 0 -0.42em #a4dbf4, -0.11em -0.83em 0 -0.44em #a4dbf4, -0.11em -0.83em 0 -0.46em #a4dbf4, -0.11em -0.83em 0 -0.477em #a4dbf4;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #5bc5f4, -0.51em -0.66em 0 -0.42em #5bc5f4, -0.75em -0.36em 0 -0.44em #5bc5f4, -0.83em -0.03em 0 -0.46em #5bc5f4, -0.81em 0.21em 0 -0.477em #5bc5f4;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #2ab6f4, -0.29em -0.78em 0 -0.42em #2ab6f4, -0.43em -0.72em 0 -0.44em #2ab6f4, -0.52em -0.65em 0 -0.46em #2ab6f4, -0.57em -0.61em 0 -0.477em #2ab6f4;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #0fa4f6, -0.11em -0.83em 0 -0.42em #0fa4f6, -0.11em -0.83em 0 -0.44em #0fa4f6, -0.11em -0.83em 0 -0.46em #0fa4f6, -0.11em -0.83em 0 -0.477em #0fa4f6;
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #d4eaf4, -0.11em -0.83em 0 -0.42em #d4eaf4, -0.11em -0.83em 0 -0.44em #d4eaf4, -0.11em -0.83em 0 -0.46em #d4eaf4, -0.11em -0.83em 0 -0.477em #d4eaf4;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #a4dbf4, -0.11em -0.83em 0 -0.42em #a4dbf4, -0.11em -0.83em 0 -0.44em #a4dbf4, -0.11em -0.83em 0 -0.46em #a4dbf4, -0.11em -0.83em 0 -0.477em #a4dbf4;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #5bc5f4, -0.51em -0.66em 0 -0.42em #5bc5f4, -0.75em -0.36em 0 -0.44em #5bc5f4, -0.83em -0.03em 0 -0.46em #5bc5f4, -0.81em 0.21em 0 -0.477em #5bc5f4;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #2ab6f4, -0.29em -0.78em 0 -0.42em #2ab6f4, -0.43em -0.72em 0 -0.44em #2ab6f4, -0.52em -0.65em 0 -0.46em #2ab6f4, -0.57em -0.61em 0 -0.477em #2ab6f4;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #0fa4f6, -0.11em -0.83em 0 -0.42em #0fa4f6, -0.11em -0.83em 0 -0.44em #0fa4f6, -0.11em -0.83em 0 -0.46em #0fa4f6, -0.11em -0.83em 0 -0.477em #0fa4f6;
    }
}
